.title {
  font-size: xx-large;
}

.board {
  position: fixed;
  /* center the element */
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  /* give it dimensions */
  min-height: 10em;
  width: fit-content;
}

.row {
  display: flex;
  width: fit-content;
}

.square {
  width:50px; /* or whatever width you want. */
  max-width:50px; /* or whatever width you want. */
  height:50px;
  max-height:50px;
  /* display: inline-block; */
  margin: 1px;
  border-style: solid;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}